<!--
  Generated template for the NewPlacePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Add place</ion-title>
  </ion-navbar>
  <page-search></page-search>
</ion-header>


<ion-content padding>

</ion-content>
