<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="showSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Home page
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!--<button (click)="onLoadPlace()" ion-button>Add place</button>-->
</ion-content>
