<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Let's search something new</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!--<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>-->
  <div class="google-media-search" [innerHTML]="gcsesearch"></div>
  <!--<ion-list>-->
    <!--<ion-item *ngFor="let item of items">-->
      <!--{{ item }}-->
    <!--</ion-item>-->
  <!--</ion-list>-->
</ion-content>
